udacity_deep_learning_course/From\ Machine\ Learning\ to\ Deep\ Learning/notMNIST/notMNIST*
Research/dataset/recordings/*
Research/dataset/arbimon2-jobs-stable/*
Research/dataset/pickle_data*
Research/dataset/arbimonTest1.pickle
Research/dataset/pickle_data/ 
Research/dataset/squared_spectrogram_roi_dataset/ 
Research/dataset/validationsAndROIs.xlsx 
Research/dataset/processed_roi_dataset/
Research/dataset/subclasess_pickle_data/
Research/dataset/binary_pickles/
Research/dataset/arbimonBalanced.pickle
Research/dataset/arbimon_bin_datasets/
Research/dataset/NN_results.txt
Research/dataset/spectrogram_roi_dataset.tar.bz2
udacity_machine_learning_course/*
.DS_Store
