udacity_deep_learning_course/From\ Machine\ Learning\ to\ Deep\ Learning/notMNIST/notMNIST*
Research/dataset/recordings/*
Research/dataset/arbimon2-jobs-stable/*
Research/dataset/pickle_data*
.DS_Store
